*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f2395a;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    
}
html{
    font-size: 62.5% ; 
   
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    margin-right: 2rem;
}



.wrapper{
    position: relative;
    width: 80vw;
    height: 100%;
    background-color: rgb(104, 222, 251);
    padding: 3rem 0;
    border-radius: 8px;
    margin: 4rem auto;
    box-shadow: 7px 15px 10px rgb(3, 98, 122);
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-shadow: 1px 5px 2px #4b4f56;
    box-shadow: 0 5px 5px #4b4f56;
    background-color: #fff;   
    border-radius: 10px 80px 80px 10px;
    color: #00b3b4;
    margin: 0 auto;
    display: inline-block;
    padding: 1rem;
    position: relative;
   
   
}
.section{
    padding: 3rem;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.8rem 0.5rem 0.2rem #4267b2;
    width: 80%;
    margin: 20px auto;
    background-color: #f6f7f9;
}



.sub-title{
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 0px 4px 4px #4b4f56;
}
.facebook-style-btn{
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 6px 12px;
}
.facebook-style-dark{
    box-shadow: inset 0 1px 0 0 #4d73bf;
    background: #4267b2;
    color: white;
    border: 1px solid #4267b2;
    text-shadow: 0 1px 0 #3359a5;
}
.facebook-style-dark:hover{
    background: #2b54a7;
}
.facebook-style-dark:active{
    background: #1d4698;
    border-color: #1d4698;
}
.facebook-style-light{
    background-color: #f6f7f9;
    border: 1px solid #ced0d4;
    color: #4b4f56;
}
.facebook-style-light:hover{
    background-color: #e9ebee;
    border-color: #d8dade;
}

/* 
    =====================
        3D BUTTON
    =====================
*/
/* Đổ bóng làm 2 lớp */
.btn-3d-1{
    position: relative;
    background-color: orangered;
    border: none;
 
    color: white;
    padding: 15px 24px;
    font-size: 1.6rem;
    box-shadow: -6px 6px 0 hsl(16, 100% , 30%);
    outline: none;
}
    /* tạo lớp giả lắp 2 lớp lại */
    .btn-3d-1::before{
        position: absolute;
        display: block;
        content: "";
        height: 0;
        width: 0;

        /* tạo tam giác lắp phái trên bên trái */
        border: 6px solid transparent;
        border-right: 6px solid  hsl(16, 100% , 30%);
        border-left-width: 0px;
        top: 0;
        left: -6px; 
    }

    /* tạo lớp giả lắp 2 lớp lại */
    .btn-3d-1::after{
        position: absolute;
        display: block;
        content: "";
        height: 0;
        width: 0;
        /* tạo tam giác lắp phía dưới bên phải */
        border: 6px solid transparent;
        border-top: 6px solid  hsl(16, 100% , 30%);
        border-bottom-width: 0;
        bottom: -6px;
        right: 0px; 
    }
.btn-3d-1:hover{
    background: hsl(16, 100%, 45%);
}
.btn-3d-1:active{
    background: hsl(16,100%,40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16,100%,30%) ;
}
    .btn-3d-1:active::before{
        border: 3px solid transparent;
        border-right: solid 3px hsl(16,100%,30%);
        border-left-width: 0px;
        left: -3px;
    }
    .btn-3d-1:active::after{
        border: solid 3px transparent;
        border-top: solid 3px hsl(16,100%,30%);
        border-bottom-width: 0px;
        bottom: -3px;
    }

.btn-3d-2{
    position: relative;
    background: #ecd300;
    background: radial-gradient(hsl(54,100%,50%), hsl(54,100%,40%));
    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3af07;
    color: white;
    border: 1px solid hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;
    outline: none;
    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%),
                0 4px 0 hsl(54, 100%, 16%),
                0 5px 0 hsl(54, 100%, 14%),
                0 6px 0 hsl(54, 100%, 12%),
                0 7px 0 hsl(54, 100%, 10%),
                0 8px 0 hsl(54, 100%, 8%),
                0 9px 0 hsl(54, 100%, 6%);
}
    .btn-3d-2:hover{
        background: radial-gradient(hsl(54,100%,45%), hsl(54,100%,35%));
    }
    .btn-3d-2:active{
        background: radial-gradient(hsl(54,100%,43%), hsl(54,100%,33%));
        top: 2px;
        box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%),
                0 4px 0 hsl(54, 100%, 16%),
                0 5px 0 hsl(54, 100%, 14%),
                0 6px 0 hsl(54, 100%, 12%),
                0 7px 0 hsl(54, 100%, 10%);
               
    }

/* 
================================
    GRADIENT BORDERED BUTTONS
================================
*/

.gradient-button-1{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    color: white;
    transition: all ease 0.3s;
    background-color: #e7eef1;
    /* border gradient */
    border: 10px solid transparent;
    border-image: linear-gradient(to top right, orangered, yellow);
    /* xác định lát cắt của hình, lát cắt sẽ tạo thành đường viền */
    border-image-slice: 1;
    color: orangered;
    transition: all 0.3s ease-in-out;
}
    .gradient-button-1:hover{
        background-image: linear-gradient(to top right, orangered, yellow);
        color: white;
    }

.gradient-button-2{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    color: white;
    transition: all ease 0.3s;
    background-color: #e7eef1;
    /* border gradient */
    border: 4px solid transparent;
    border-image: linear-gradient(to right, orangered, transparent);
    /* xác định lát cắt của hình, lát cắt sẽ tạo thành đường viền */
    border-image-slice: 1;
    color: orangered;
    transition: all 0.3s ease-in-out;
}
    .gradient-button-2:hover{
        background-image: linear-gradient(to right, orangered, transparent);
        color: white;
        border-right-style: none;
    }

 /* 
================================
   ANIMATED BUTTONS
================================
*/
.animation-button-1{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.6rem;
    background-color: #00b3b4;
    background-image: url(../image/pattern.png);
    border: 1px solid #555;
    color: white;
    transition: all ease 0.3s;
}
    .animation-button-1:hover{
        animation: loading-button-animation 2s linear infinite;
    }
    @keyframes loading-button-animation{
        from{
            background-position: 0 0;
        }
        to{
            background-position: 40px 0;
        }
    }

.animation-button-2{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.6rem;
    background-color: #00b3b4;
    border: 1px solid #555;
    color: white;
    transition: all ease 0.3s;
}
    .animation-button-2::after{
        position: absolute;
        content: "\f101";
        top: 33%;
        right: 0.8rem;
        transition: all ease 0.3s;
        opacity: 0;
    }
    .animation-button-2:hover{
        padding: 20px 60px 20px 20px;
    }
    .animation-button-2:hover::after{
        right: 1.2em;
        opacity: 1;
    }

/* 
================================
   TOGGLE SWITCH UI BUTTONS
================================
*/

.toggle-1{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}
.toggle-1__input{
    display: none;
}
.toggle-1__button{
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    background-color: #f2395a;
    border: 1px solid #f2395a;
    color: white;
    width: 90px;
    height: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
}
    .toggle-1__button::before{
        position: absolute;
        top: 7px;
        left: 45px;
        content: 'off';
        display: inline-block;
        height: 2rem;
        padding: 0 3px;
        background-color: white;
        color: #f2395a;
        transition: all 0.3s ease;
    }

    .toggle-1__input:checked + .toggle-1__button{
        background: #00b3b4;
        border: 1px solid #00b3b4;
    }
    .toggle-1__input:checked + .toggle-1__button::before{
        left: 5px;
        content: "on";
        color: #00b3b4;
    }

.toggle-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}
    .toggle-2__input{
        display: none;
    }
    .toggle-2__button{
        position: relative;
        display: inline-block;
        line-height: 2rem;
        text-transform: uppercase;
        background-color: #fff;
        color: #aaa;
        border: 1px solid #ccc;
        padding: 5px 10px 5px 30px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .toggle-2__button::before{
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        content: "";
        transition: all 0.3s ease;
        border-radius: 100%;
    }
    .toggle-2__input:checked + .toggle-2__button{
        background-color: #00b3b4;
        border-color: #00b3b4;
        color: #fff;
    }
    .toggle-2__input:checked + .toggle-2__button::before{
        background-color: #fff;
       
    }